/*样式初始化*/
*{margin:0;padding: 0;}
a{text-decoration: none;color: #000;}
img {border: 0; vertical-align:middle;}
ul li{list-style: none;}
body,h1,h2,h3,h4,h5,h6{font: 12px 宋体,Times New Roman;}
body{
	background: url(../images/banner1.jpg) no-repeat center;
    background-size:100% 100%; 
    background-attachment:fixed;

}

/*预定义样式*/
.w{width: 1000px;margin: 0 auto;}
.fl{float: left;}
.fr{float: right;}
.clear{clear:both;}
.center{margin:0 auto;}
.border{border:1px solid red;}

table{width: 360px;height: 240px;border:none;margin: 0 auto;}
tr,th,td{height: 20px;}
th{width: 60px;}
input:focus{border: 2px solid orange;}
/*用户登录*/
.top{width: 100%;background: #fff;}
.top .logo{width: 100%px;}
.login{width: 400px;height: 470px;margin-left: 50%; margin-top: 40px;background: #E5E5E5;color:#000;margin-right: 0px;border-radius: 4px;}
.login .login_center{width: 360px;margin: 0 auto;}
.login .login_top{margin: 10px 0;}
.login .login_top .left{height: 40px;line-height: 40px;font-weight: bold;font-size: 20px;}
.login .login_top .right{height: 40px;line-height: 40px;font-size: 13px;}
.login .login_top .right a{color:red;font-weight: bold;}
.login .login_top .right a:hover{color:orange;}
.xian{height: 2px;background: #ff6700;margin:8px 0;}

.login_main{padding:20px 0;}
.login_main .username{font:16px Times New Roman;height: 40px;line-height: 40px;margin:35px 0;}
.login_main .username .shurukuang{width: 220px;height: 30px;border:1px solid #ccc;padding:5px 10px; }
.login_main .username .yanzhengma{width: 100px;height: 30px;border:1px solid #ccc;padding:5px 10px; }
.login_main .username .shurukuang:focus{border: 1px solid blue;background: #F0FFFF;}
.login_main .username .yanzhengma:focus{border: 1px solid blue;background: #F0FFFF;}
.login_main .username .right{margin-left: 20px;}

/*设置按钮样式*/
.login .login_center .login_submit{margin: 15px auto;}
.login .login_center .submit{border:none;width: 240px;height: 45px;margin-left:55px;background: #ff6700;color: #fff; font-size: 20px;font-weight: bold;letter-spacing: 2px;cursor:pointer;border-radius: 4px;}
.login .login_center .submit:hover{border:1px solid #fff;}
