@charset "utf-8";
/* CSS Document */
body{ margin:0px; padding:0px;}
#glideDiv0{top:0;left:0; width:100%; margin-bottom: -100px; }

/************************通用*****************************************************/
body{ margin:0px; padding:0px; font-size:12px; background:#ededed; min-width:1160px; width:auto !important;width: 1366px;position: relative;}
/* *{font-family:Verdana, Geneva, sans-serif;} */
ul,p,hr,li,form,h1,h2,h3,h4,h5,div { margin:0px; padding:0px; list-style:none;}
img{ border:0px;}
.fl{ float:left;}
.fr{ float:right;}

/*万能清除浮动开始*/
.clearfix:after {visibility:hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix { display: inline-table; } /* Hides from IE-mac */
* html .clearfix { height: 1%; }
.clearfix { display: block; } 

.width100{ width:100%;}
.allwidth{ width:1160px; margin:0px auto;}
.w1160{background:#C98A43;width:100%; margin:0px auto;}
.w1024{width:1024px; margin:0px auto;}
.w1800{width:1800px; margin:0px auto;}
.w1089{width:1089px; margin:0px auto;}
.min1160 {min-width:1160px; width:auto !important;}


.w978{width:978px; margin:0px auto;}
.w948{width:948px; margin:0px auto;}
.w957{width:957px; margin:0px auto;}

.hand{ cursor:pointer;}
.en{ font-family:Arial, Helvetica, sans-serif;}

.clear{margin:0px auto; clear:both; height:0px; font-size:0px; overflow:hidden;}
.clean{ clear:both;}
.center { text-align:center;}
 
#wrap {width:100%;width:expression(document.body.clientWidth <= 1160? "1160px": "auto");   min-width:1160px;}

/* a start */
a{color:#000000; text-decoration:none;}
a:hover{ text-decoration:none;color:#535353;}
/* a end */

/* header_start */
#headTopBg{height:36px; background:#e5e5e5; min-width:1160px; width:auto !important;}
#headTop{ font-size:12px;  color:#787878; }
#headTop .headTopRight {float: right; margin-top: 8px; }
#headTop .headTopRight a {height: 16px;line-height: 16px;display: block;float: left;padding: 0px 15px;color: #B2B2B2;color:#000;margin-top:3px;}
#headTop .headTopRight a:hover {color:#787878;}
#headTop .headTopRight .reg:hover,#headTop .headTopRight .reg:focus,#headTop .headTopRight .reg:active{background-position:left bottom;} 

#headTop .headTopRight a{-webkit-transition:0.2s linear;-moz-transition:0.2s linear;-o-transition:0.2s linear;transition:0.2s linear;}
#headTop .headTopRight .lan:hover,#headTop .headTopRight .lan:focus,#headTop .headTopRight .lan:active{background-position:90% bottom;}  

#nav_all li{text-align: center;float: left;position:relative; z-index:99998; cursor:pointer;}
#nav_all li ul {display:none; z-index:99998; position:absolute; left:5px; top:20px;}
#nav_all li ul li {  cursor:pointer; height:21px; width:75px;background:url(../images/topmenubg.png) repeat; padding:0; margin:0;white-space:nowrap;}
#nav_all li ul li a{ padding:0; margin:0;white-space:nowrap; display:block; line-height:21px;}

#nav2_ex{ height:72px; position:relative; z-index:9999; width:100%;_height:100px; background: #FFFFFF;}
.nav2_index { background:url(../img/top.png) repeat; min-width:1160px; min-height:108px; overflow:hidden; width: 100% !important; }
.nav2_page { background-color:#101010;min-width:1160px; width: 100% !important; }
.nav2_ex{ height:72px; width:1160px; margin:0px auto;_height:100px;}

#topLogo {float:left;width:300px; height:72px;}
#topLogo img { border:none; height:72px;}
#topMenu { float:right;width:820px; height:72px; line-height:72px; overflow:hidden;}
#topMenu a{ text-decoration:none; font-size:16px; line-height:72px; color:#000000; height:72px; font-family:"微软雅黑"; padding: 0px 15px 0px 15px; }
#topMenu a:hover{ text-decoration:none; color:red;}
/* header_end */
.box{width: 1160px; margin: 0 auto; margin-top: 120px; font-size: 14PX; color: #666666;}
.box1{width: 1160px; margin: 0 auto; margin-top: 10px;}
.box1 img{width: 1160px;}
/* 购物车 */
.Caddress{width: 1160px;margin:0 auto;position: relative;height: 160px;}
.Ccart{width: 100px;height: 20px;position: absolute;background: #ECECEC;right: 5px;line-height: 20px;text-align: center;top: -21px;}
.Caddress .add_mi{height: 106px;float: left;margin-right: 5px; background: url(../images/mail.jpg) no-repeat;padding: 5px 12px; cursor: pointer;}
.Caddress .add_mi p{font-size: 12px;line-height: 20px;margin-bottom: 5px;color: #666;width: 203px;}
.Cbox{width: 1160px;margin:15px auto;overflow: hidden}
.Cprice{width: 1160px;margin:20px auto;overflow: hidden; background: #F3F3F3}
.Cprice .price{width: 121px;padding: 5px 10px;line-height: 30px;background-color: #808080;float: left;color:#fff;}
.Cprice .jiesuan{padding: 5px 20px; float: right;line-height: 30px;background: #f40;color: #fff;font-size: 22px}

.shade{width: 100%; height: 100%; overflow-y: hidden; position: fixed; z-index: 100; top: 0; background: black; opacity: 0.5;}
.shade_content{width: 800px; border-radius: 10px; height: 500px; position: fixed; z-index: 101; top: 50%; left: 50%; margin-top: -250px; margin-left: -400px; background: #FFFFFF; }
.shade_content_div{margin: 0px auto; text-align: center; height: 100%; width: 80%; margin-top: 20px;}
.shad{width: 100%; height: 100%; position: fixed; z-index: 100; top: 0; background: black; opacity: 0.5;}
.shad_colse button{font-size: 20px; color: white; outline: 0px; float: right; border-radius: 50px; background: red; height: 30px; width: 30px; border: 0px;}
.shad_content{width: 800px; border-radius: 10px; height: 550px;overflow:hidden;overflow-y:auto; position: fixed; z-index: 10002; top: 50%; left: 50%; margin-top: -250px; margin-left: -400px; background: #FFFFFF; }
.shad_content_div{height: 100%; width: 800px; margin-top: 10px;}
.shad_content_div .shad_div{width: 650px;margin: 0 auto;line-height: 23px; font-size: 14px;}
.shad_div input{outline: none;border-color: #878787; border-style: solid; border-top-width: 0px;border-right-width: 0px; border-bottom-width: 1px;border-left-width: 0px;}
.shade_title{font-size: 30px; text-align: center; font-weight: bold; font: "微软雅黑";}
.btn_remove{border-radius: 5px; background: #31B0D5; color: white; width: 150px; height: 40px; border: 0px; outline: 0px; font-size: 15px;}
.sub_set{border-radius: 5px; background: #31B0D5; color: white; width: 150px; height: 40px; border: 0px; outline: 0px; font-size: 15px;}
.input_style{height: 30px; border-radius: 5px; width: 250px; outline: 0px; border: 1px solid #CCCCCC;}
.span_style{font-size: 18px;}
.shade_from{margin-top: 20px;}
.shade_from .col-xs-12{margin-top: 20px;}
.shade_colse{text-align: right; margin-top: 10px; }
.shade_colse button{font-size: 20px; color: white; outline: 0px; margin-right: 10px; border-radius: 50px; background: red; height: 30px; width: 30px; border: 0px;}
.open_new{width: 1160px;text-align: right; margin-top: 20px;}
.open_btn{height: 30px; width: 120px;cursor: pointer ;border-radius: 10px; background: red; color: white; outline: 0px; margin-bottom: 10px; border: 0px ;}
.shopping_content{width: 1210px;margin: auto;position: relative;}
.shopping_table{width: 1160px; margin: 0 auto;}
.btn_r{border-radius: 5px; background: #31B0D5; color: white; width: 60px; height: 30px; border: 0px; outline: 0px; font-size: 15px; cursor: pointer;}
.momey_input{ outline: 0px; height: 20px; width: 50px; border: 1px solid #CCCCCC; text-align: center;}
.btn_reduce{height: 20px; width: 20px; border: 1px solid #CCCCCC; background: transparent;border-radius: 2px; outline: 0px; cursor: pointer;}
.btn_add{height: 20px; width: 20px; border: 1px solid #CCCCCC; background: transparent;border-radius: 2px;outline: 0px; cursor: pointer;}
.btn_closing{height: 40px; width: 70px; border-radius: 5px; background: #C98A43; outline: 0px; border: 1px solid transparent; color: white; font-size: 16px; cursor: pointer;}
.div_outMumey{height: 40px; width: 200px; border-radius: 5px; background: #CCCCCC; color: red;text-align: center; line-height: 40px; font-size: 20px;}
th{height: 40px; font-size: 15px; font: "微软雅黑";}

.c {
    width: 1200px;
    margin: 0 auto;
}
.c p{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
.backf{
    margin-top:20px;
    border-top:1px solid #ccc;
}
#footer{
    width:1200px;
    /*margin:0 auto;*/
    margin-left: 10px;
}
#footer ul{
    float:left;
    margin-left:30px;

    width:200px;
    text-decoration:none;

}
#footer .sy{
    text-align:center;
    font-size:16px;
    color:#333;
    font-weight:bold;
}
#footer ul li{
    width:180px;
    padding:5px;
}
#footer ul li a,#footer ul li a:visited{
    font-size:12px;
    color:#000;
    margin-left:60px;
    text-decoration:none;
    font-family: "微软雅黑";
    font-weight: 500;
}
#footer ul li a:hover{
    color:#F36;
}



/* 支付页面 */
.content{
    height: 100px;
    background: white;
    width: 1160px; margin: 0 auto; margin-top: 10px;
}
.content img{
    position: relative;
    left:50px;
    top:10px;
}
.content span{
    position: relative;
    left: 80px;
    color:#C58A48;
    font-size: 20px;
}
.content_info{
    width: 700px;
    height: 40px;
    position: relative;
    left: 60px;
    top:10px;
    font-size: 18px;
}
.time{
    font-size: 20px;
    color:red;
    display: inline;
}
.content_infos{
    width: 200px;
    height: 20px;
    position: relative;
    left: 800px;
    top:-30px;
    font-size: 18px;
}
.pay{
    height: 200px;
    background: white;
    width: 1160px; margin: 0 auto; margin-top: 10px;
}
.dashang{display:block;width:120px;height:25px;line-height:25px;padding:10px;background-color:#FFD392;color:red;text-decoration:none;border-radius:10px;font-weight:bold;font-size:16px;transition: all 0.3s;}
/*.dashang:hover{opacity:0.8;padding:15px;font-size:18px;}*/
.alipay{
    width: 150px;
    height: 50px;
    float: left;
    margin-left: 30px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}
.wechtpay{
    width: 150px;
    height: 50px;
    float: left;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}
.yinpay{
    width: 150px;
    height: 50px;
    float: left;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}
.xianjin{
    width: 150px;
    height: 50px;
    float: left;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}
.tijiao{
    width: 150px;
    height: 50px;
    font-size: 18px;
    margin-top: 45px;
    float: left;
    margin-left: 800px;

}
.tijiao input{
    width: 100px;
    height: 40px;
    background: #0689A0;
    color:white;
    cursor: pointer;
    border-radius:5px;
    font-weight:bold;
    font-size:16px;
    transition: all 0.3s;
}
.backf1{
    width: 1160px; margin: 0 auto;
    margin-top:80px;
    border-top:1px solid #ccc;
}