@charset "utf-8";
/* CSS Document */
body{ margin:0px; padding:0px;}
/* *{font-family:Verdana, Geneva, sans-serif;} */
ul,p,hr,li,form,h1,h2,h3,h4,h5,div { margin:0px; padding:0px; list-style:none;}
img{ border:0px;}
.fl{ float:left;}
.fr{ float:right;}
/*万能清除浮动开始*/
.clearfix:after {visibility:hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix { display: inline-table; } /* Hides from IE-mac */
* html .clearfix { height: 1%; }
.clearfix { display: block; } 
/* header_start */
#headTopBg{height:36px; background:#e5e5e5; min-width:1160px; width:auto !important;}
#headTop{ font-size:12px;  color:#787878; }
#headTop .headTopRight {float: right; margin-top: 8px; }
#headTop .headTopRight a {height: 16px;line-height: 16px;display: block;float: left;padding: 0px 15px;color: #B2B2B2;color:#000;margin-top:3px;}
#headTop .headTopRight a:hover {color:#787878;}
#headTop .headTopRight .reg:hover,#headTop .headTopRight .reg:focus,#headTop .headTopRight .reg:active{background-position:left bottom;}

#headTop .headTopRight a{-webkit-transition:0.2s linear;-moz-transition:0.2s linear;-o-transition:0.2s linear;transition:0.2s linear;}
#headTop .headTopRight .lan:hover,#headTop .headTopRight .lan:focus,#headTop .headTopRight .lan:active{background-position:90% bottom;}

#headTop .headTopRight a{-webkit-transition:0.2s linear;-moz-transition:0.2s linear;-o-transition:0.2s linear;transition:0.2s linear;}
#headTop .headTopRight .lan:hover,#headTop .headTopRight .lan:focus,#headTop .headTopRight .lan:active{background-position:90% bottom;}  

#nav_all li{text-align: center;float: left;position:relative; z-index:99998; cursor:pointer;}
#nav_all li ul {display:none; z-index:99998; position:absolute; left:5px; top:20px;}
#nav_all li ul li {  cursor:pointer; height:21px; width:75px;background:url(../images/topmenubg.png) repeat; padding:0; margin:0;white-space:nowrap;}
#nav_all li ul li a{ padding:0; margin:0;white-space:nowrap; display:block; line-height:21px;}

#nav2_ex{ height:72px; position:relative; z-index:9999; width:100%;_height:100px;}
.nav2_index { background:url(../images/top.png) repeat; min-width:1160px; min-height:108px; overflow:hidden; width: 100% !important; }
.nav2_page { background-color:#101010;min-width:1160px; width: 100% !important; }
.nav2_ex{ height:72px; width:1160px; margin:0px auto;_height:100px;}

#topLogo {float:left;width:300px; height:72px;}
#topLogo img { border:none; width:150px; height:65px;}
#topMenu { float:right;width:820px; height:72px; line-height:72px; overflow:hidden;}
#topMenu a{ text-decoration:none; font-size:16px; line-height:72px; color:#000000; height:72px; font-family:"微软雅黑"; padding: 0px 15px 0px 15px; }
#topMenu a:hover{ text-decoration:none; color:red;}
/* header_end */
.themes{
    width: 1360px;
    margin: 0 auto;
    background-image: url(../images/hjzcback1.png);
}
.master{
    width: 800px;
    margin: 10px auto;
    padding:10px 5px;
    background-color: lemonchiffon;
    border: medium double lightgray;
}
.master p{
    text-indent: 2em;
    line-height: 2em;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;color:#8c8c8c;font-size: 16px;"
}
.master img{
    width: 495px;
    height: 400px;
    margin-left:120px;
}

.backf{
    margin-top:20px;
    border-top:1px solid #ccc;
}
#footer{
    width:1200px;
    margin:0 auto;
    margin-left: 10px;
}
#footer ul{
    float:left;
    margin-left:140px;
    width:50px;
    text-decoration:none;

}
#footer .sy{
    text-align:center;
    font-size:16px;
    color:#333;
    font-weight:bold;
}
#footer ul li{
    width:180px;
    padding:5px;
}
#footer ul li a,#footer ul li a:visited{
    font-size:12px;
    color:#000;
    margin-left:60px;
    text-decoration:none;
    font-family: "微软雅黑";
    font-weight: 500;
}
#footer ul li a:hover{
    color:#F36;
}
.img{
    position: fixed;
}
.img img{
    width: 200px;
    height: 400px;
    border: medium double lightgray;
}
