@charset "utf-8";
/* CSS Document */
body{ margin:0px; padding:0px;}
#glideDiv0{top:0;left:0; width:100%; min-width:1160px; height:108px; z-index:99999;}

/************************通用*****************************************************/
body{ margin:0px auto; padding:0px; font-size:14px; background:#FFFFFF; min-width:1160px; width:auto !important;}
/* *{font-family:Verdana, Geneva, sans-serif;} */
ul,p,hr,li,form,h1,h2,h3,h4,h5,div { margin:0px; padding:0px; list-style:none;}
img{ border:0px;}
/*万能清除浮动开始*/
.clearfix:after {visibility:hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix { display: inline-table; } /* Hides from IE-mac */
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* a start */
a{color:#000000; text-decoration:none;}
a:hover{ text-decoration:none;color:#535353;}
/* a end */
.w1024{width:1024px; margin:0 auto;}

/* header_start */
#headTopBg{height:36px; background:#e5e5e5; min-width:1160px; width:auto !important;}
#headTop{ font-size:12px;  color:#787878; }
#headTop .headTopRight {float: right; margin-top: 8px; }
#headTop .headTopRight a {height: 16px;line-height: 16px;display: block;float: left;padding: 0px 15px;color: #B2B2B2;color:#000;margin-top:3px;}
#headTop .headTopRight a:hover {color:#787878;}
#headTop .headTopRight .reg:hover,#headTop .headTopRight .reg:focus,#headTop .headTopRight .reg:active{background-position:left bottom;}

#headTop .headTopRight a{-webkit-transition:0.2s linear;-moz-transition:0.2s linear;-o-transition:0.2s linear;transition:0.2s linear;}
#headTop .headTopRight .lan:hover,#headTop .headTopRight .lan:focus,#headTop .headTopRight .lan:active{background-position:90% bottom;}

#headTop .headTopRight a{-webkit-transition:0.2s linear;-moz-transition:0.2s linear;-o-transition:0.2s linear;transition:0.2s linear;}
#headTop .headTopRight .lan:hover,#headTop .headTopRight .lan:focus,#headTop .headTopRight .lan:active{background-position:90% bottom;}  

#nav_all li{text-align: center;float: left;position:relative; z-index:99998; cursor:pointer;}
#nav_all li ul {display:none; z-index:99998; position:absolute; left:5px; top:20px;}
#nav_all li ul li {  cursor:pointer; height:21px; width:75px;background:url(../images/topmenubg.png) repeat; padding:0; margin:0;white-space:nowrap;}
#nav_all li ul li a{ padding:0; margin:0;white-space:nowrap; display:block; line-height:21px;}

#nav2_ex{ height:72px; position:relative; z-index:9999; width:100%;_height:100px;}
.nav2_index { background:url(../images/top.png) repeat; min-width:1160px; min-height:108px; overflow:hidden; width: 100% !important; }
.nav2_page { background-color:#101010;min-width:1160px; width: 100% !important; }
.nav2_ex{ height:72px; width:1160px; margin:0px auto;_height:100px;}

#topLogo {float:left;width:300px; height:72px;}
#topLogo img { border:none; height:72px;}
#topMenu { float:right;width:820px; height:72px; line-height:72px; overflow:hidden;}
#topMenu a{ text-decoration:none; font-size:16px; line-height:72px; color:#000000; height:72px; font-family:"微软雅黑"; padding: 0px 15px 0px 15px; }
#topMenu a:hover{ text-decoration:none; color:red;}
/* header_end */
/*main_start*/
.ddd{
	background:url(../images/bg.jpg) no-repeat center 0;
	background-size: 100% 100%;
}
.content{
	width: 1200px;
	margin: 0 auto;
}
.divv{margin-top: 30px;padding-bottom: 100px;}
.divv form{margin-left: 50px;}
button,
input,
select,
textarea {
  padding: 5px;
  border: 1px solid #cecece;
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}



