<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>中国帝宫</title>
		<link href="__PUBLIC__/css/pro_detail.css" rel="stylesheet" type="text/css">
		<script src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
		<script src="__PUBLIC__/js/common.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				var showproduct = {
					"boxid": "showbox",
					"sumid": "showsum",
					"boxw": 400,
					"boxh": 550,
					"sumw": 60, //列表每个宽度,该版本中请把宽高填写成一样
					"sumh": 60, //列表每个高度,该版本中请把宽高填写成一样
					"sumi": 7, //列表间隔
					"sums": 5, //列表显示个数
					"sumsel": "sel",
					"sumborder": 1, //列表边框，没有边框填写0，边框在css中修改
					"lastid": "showlast",
					"nextid": "shownext"
				}; //参数定义
				$.ljsGlasses.pcGlasses(showproduct); //方法调用，务必在加载完后执行
				$(function() {
					$('.tabs a').click(function() {
						var $this = $(this);
						$('.panel').hide();
						$('.tabs a.active').removeClass('active');
						$this.addClass('active').blur();
						var panel = $this.attr("href");
						$(panel).show();
						return false; //告诉浏览器  不要纸箱这个链接
					}) //end click
					$(".tabs li:first a").click() //web 浏览器，单击第一个标签吧
				}) //end ready
				$(".centerbox li").click(function() {
					$("li").removeClass("now");
					$(this).addClass("now")
				});
			});
		</script>
		<style type="text/css">
			*{margin:0;padding:0;list-style-type:none;}
			a,img{border:0;}
			/* suspend */
			.suspend{width:40px;height:198px;position:fixed;top:200px;right:0;overflow:hidden;z-index:9999;}
			.suspend dl{width:120px;height:198px;border-radius:25px 0 0 25px;padding-left:40px;box-shadow:0 0 5px #e4e8ec;}
			.suspend dl dt{width:40px;height:198px;background:url(__PUBLIC__/images/suspend.png);position:absolute;top:0;left:0;cursor:pointer;}
			.suspend dl dd.suspendQQ{width:120px;height:85px;background:#ffffff;}
			.suspend dl dd.suspendQQ a{width:120px;height:85px;display:block;background:url(__PUBLIC__/images/suspend.png) -40px 0;overflow:hidden;}
			.suspend dl dd.suspendTel{width:120px;height:112px;background:#ffffff;border-top:1px solid #e4e8ec;}
			.suspend dl dd.suspendTel a{width:120px;height:112px;display:block;background:url(__PUBLIC__/images/suspend.png) -40px -86px;overflow:hidden;}
			* html .suspend{position:absolute;left:expression(eval(document.documentElement.scrollRight));top:expression(eval(document.documentElement.scrollTop+200))}
		</style>
	</head>

	<body style="overflow-x: hidden;">
		<!--header部分-->
		<div id="glideDiv0">
			<div id="nav2_ex" class="nav2_index">
				<!--top -->
				<div id="headTopBg">
					<div id="headTop" class="w1024">
						<div class="headTopRight">
							<ul id="nav_all">
								<if condition="$_SESSION['name']">
									<li>
										<a href="">{$_SESSION['name']}</a>
									</li>
									<a href="__MODULE__/Cart/index">我的认捐库</a>
									<li>
										<a href="__MODULE__/User/dologot">退出</a>
									</li>
									<else />
									<li>
										<a href="__MODULE__/User/login">登录</a>
									</li>
									<li>
										<a href="__MODULE__/User/register">注册</a>
									</li>
								</if>
							</ul>
						</div>
					</div>
				</div>
				<!--top_end -->
				<div class="nav2_ex">
					<div id="topLogo">
						<if condition="($biaoshi eq 1)">
							<a href="{:U('Index/zhs')}">
								<img src="__PUBLIC__/images/zhs_logo.png" />
								<else />
								<a href="{:U('Index/jlcs')}">
									<img src="__PUBLIC__/images/logo.jpg" />
						</if>
						</a>
					</div>
					<div id="topMenu">
						<a href="{:U('Index/index')}">首页</a>
						<a href="{:U('Index/smjs')}">寺庙供奉</a>
						<a href="{:U('Index/smjs')}">生命关怀</a>
						<a href="__MODULE__/Index/fjzh">佛教智慧</a>
						<a href="__MODULE__/User/info">个人中心</a>
						<a href="__MODULE__/Transfer/index">赠送</a>
					</div>
				</div>
			</div>
		</div>
		<!---header结束-->
		<!--商品详情部分-->
		<div class="shopdetails">
			<!--放大镜-->
			<div id="leftbox">
				<div id="showbox">
					<foreach name="pro" item="list">
						<img src="__PUBLIC__{$list.path}" width="400" height="400" />						
						<img src="__PUBLIC__{$list.path}" width="400" height="400" />
					</foreach>
				</div>
				<!--展示图片盒子-->
				<div id="showsum"></div>
				<!--展示图片里边-->
				<p class="showpage">
					<a href="javascript:void(0);" id="showlast">
						< </a>
							<a href="javascript:void(0);" id="shownext"> > </a>
				</p>
			</div>
			<!--中间-->
			<div class="centerbox">
				<foreach name="pro" item="list">
					<p class="imgname">{$list.product_name}</p>

					<p class="Aprice" style="font-size: 16px;">&nbsp;&nbsp;&nbsp;原&nbsp;&nbsp;&nbsp;价：<samp>￥{$list.product_price}</samp></p>
					<p class="price" style="font-size: 16px;">&nbsp;&nbsp;&nbsp;结缘价：<samp>￥{$list.now_price}</samp></p>
					<div class="clear"></div>

					<p class="chima" style="font-size: 16px;">&nbsp;&nbsp;&nbsp;描&nbsp;&nbsp;&nbsp;述：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a style="font-size: 16px;">{$list.product_description}</a>
					</p>
					<p class="chima" style="font-size: 16px;">&nbsp;&nbsp;&nbsp;库&nbsp;&nbsp;&nbsp;存：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a style="font-size: 16px;">{$list.product_store}</a>
					</p>
					<span class="ids" id="{$id}"></span>
					<p class="buy">
						<a href="javascript:void(0)" onclick="order()" id='firstbuy' ">立即认捐</a><a href="javascript:void(0) " onclick="cart() ">加入认捐库</a></p>
   		<div class="clear "></div>
        <div class="fenx "><a href="# "></a></div>
        <p class="fuwu " style="font-size: 16px; ">服务承诺：</p>
        <p class="pay " style="font-size: 16px; ">支付方式：</p>
        <p class=" " style="font-size: 16px;position: relative;left:10px; ">实物图：</p>
            <img src="__PUBLIC__{$list.path}" style="width: 160px;height: 200px;position: relative;left: 150px;top:10px; ">
     </foreach>
    </div>
    <div class="clear "></div>
	<!-----右边------->
   <div class="rightbox ">
    	<p class="name ">——认捐商品</p>

       <a href="javascript:void(0);" class="ex0112" id='48184'>
							<img src="__PUBLIC__/images/shopdetail/remai02.jpg" width="130" height="180">
							<p>主梁</p>
							<p>￥100000元/根</p>
						</a>
						<a href="javascript:void(0);" class="ex0112" id='48185'>
							<img src="__PUBLIC__/images/shopdetail/remai01.jpg" width="130" height="180">
							<p>次梁</p>
							<p>￥80000元/根</p>
						</a>
						<a href="javascript:void(0);" class="ex0112" id='48186'>
							<img src="__PUBLIC__/images/shopdetail/remai03.jpg" width="130" height="180">
							<p>主柱</p>
							<p>￥60000元/根</p>
						</a>

			</div>
		</div>
		<!-----商品详情部分结束------->
		<!-----商品详情评价部分------->
		<div class="evaluate">
			<div class="classify">
				<div class="shopsee">
					<p class="name">认捐商品</p>
					<a href="javascript:void(0);" class="ex0112" id='48187'>
						<img src="__PUBLIC__/images/shopdetail/see.jpg" width="170" height="245">
						<p>释迦摩尼佛像</p>
						<p>商城价:￥300000元/尊</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48188'>
						<img src="__PUBLIC__/images/shopdetail/see1.jpg" width="170" height="245">
						<p>三大士</p>
						<p>商城价:￥100000元/尊</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48189'>
						<img src="__PUBLIC__/images/shopdetail/see2.jpg" width="170" height="245">
						<p>十八罗汉</p>
						<p>商城价:￥100000元/尊</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48190'>
						<img src="__PUBLIC__/images/shopdetail/see03.png" width="170" height="245">
						<p>功德箱</p>
						<p>商城价:￥20000元/个</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48191'>
						<img src="__PUBLIC__/images/shopdetail/see04.png" width="170" height="245">
						<p>供桌</p>
						<p>商城价:￥80000元/张</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48192'>
						<img src="__PUBLIC__/images/shopdetail/see5.jpg" width="170" height="245">
						<p>须弥座</p>
						<p>商城价:￥200000元/座</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48193'>
						<img src="__PUBLIC__/images/shopdetail/see07.png" width="170" height="245">
						<p>铜罗汉</p>
						<p>商城价:￥258元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48194'>
						<img src="__PUBLIC__/images/renjuan/see06.png" width="170" >
						<p>龙翔凤集</p>
						<p>商城价:￥1888元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48195'>
						<img src="__PUBLIC__/images/renjuan/content_04.jpg" width="170" >
						<p>云龙蒸变</p>
						<p>商城价:￥998元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48196'>
						<img src="__PUBLIC__/images/renjuan/see08.png" width="170" >
						<p>夜静澜思</p>
						<p>商城价:￥518元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48197'>
						<img src="__PUBLIC__/images/renjuan/see09.png" width="170" >
						<p>青花瓷礼盒</p>
						<p>商城价:￥418元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48198'>
						<img src="__PUBLIC__/images/renjuan/see10.png" width="170" height="200">
						<p>檀香长木盒210</p>
						<p>商城价:￥778元</p>
					</a>
				</div>

				<div class="shopsee1">
					<p class="name">认捐商品</p>
					<a href="javascript:void(0);" class="ex0112" id='48202'>
						<img src="__PUBLIC__/images/renjuan/see.jpg" width="170" >
						<p>音高趣远</p>
						<p>商城价:￥288元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48203'>
						<img src="__PUBLIC__/images/renjuan/see1.jpg" width="170" >
						<p>明镜山水</p>
						<p>商城价:￥218元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48204'>
						<img src="__PUBLIC__/images/renjuan/see2.png" width="170" >
						<p>皓月禅心</p>
						<p>商城价:￥188元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48205'>
						<img src="__PUBLIC__/images/renjuan/see03.png" width="170" height="100">
						<p>流云香</p>
						<p>商城价:￥138元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48206'>
						<img src="__PUBLIC__/images/renjuan/see04.png" width="170">
						<p>正圆0.8单串</p>
						<p>商城价:￥668元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48207'>
						<img src="__PUBLIC__/images/renjuan/see5.png" width="170" height="250" >
						<p>老山檀香筒210</p>
						<p>商城价:￥618元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48208'>
						<img src="__PUBLIC__/images/renjuan/see07.png" width="170" height="250">
						<p>沉香香筒210</p>
						<p>商城价:￥398元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48209'>
						<img src="__PUBLIC__/images/renjuan/see06.jpg" width="100" >
						<p>龙脑双瓷罐</p>
						<p>商城价:￥618元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48210'>
						<img src="__PUBLIC__/images/renjuan/content01.jpg" width="100" >
						<p>茶叶礼盒</p>
						<p>商城价:￥388元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48211'>
						<img src="__PUBLIC__/images/renjuan/content02.png" width="130" >
						<p>1.2无花</p>
						<p>商城价:￥568元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48212'>
						<img src="__PUBLIC__/images/renjuan/content03.png" width="130" >
						<p>1.4瓜棱珠</p>
						<p>商城价:￥398元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48213'>
						<img src="__PUBLIC__/images/renjuan/content05.png" width="130" >
						<p>1.8莲花纹珠</p>
						<p>商城价:￥398元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48214'>
						<img src="__PUBLIC__/images/renjuan/content06.png" width="130">
						<p>金钱貔貅裸牌</p>
						<p>商城价:￥338元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48215'>
						<img src="__PUBLIC__/images/renjuan/content07.png" width="130" >
						<p>斋戒裸牌</p>
						<p>商城价:￥518元</p>
					</a>
					<a href="javascript:void(0);" class="ex0112" id='48216'>
						<img src="__PUBLIC__/images/renjuan/content08.png" width="130" height="150" >
						<p>龙脑枕（红晶版）</p>
						<p>商城价:￥298元</p>
					</a>
				</div>
			</div>
			<div class="tabbedPanels">
				<ul class="tabs">
					<li>
						<a href="#panel01" id="test">商品详情</a>
					</li>
				</ul>
				<div class="panelContainer">
					<if condition="($image eq '1')">
						<div class="panel" id="panel01">
							<p class="sell">商品描述</p>
							<p style="font-size: 16px;">皇族宗祠是匠造的专属家族祠堂</p>
							<p></p>
							<p class="sell">整体款式</p>
							<div class="div1"></div>
							<div class="div1" style="width:640px;height: 642px;"><img src="__PUBLIC__/images/details/images/01.jpg"></div>
							<img src="__PUBLIC__/images/details/images/02.jpg">
							<img src="__PUBLIC__/images/details/images/06.jpg" style="position: relative;left: -2px;">
							<img src="__PUBLIC__/images/details/images/03.jpg">
							<img src="__PUBLIC__/images/details/images/04.jpg">
							<img src="__PUBLIC__/images/details/images/05.jpg">
							<div class="clear"></div>
						</div>
						<elseif condition="($image eq '2')"/>
							<div class="panel" id="panel01">
								<p class="sell">商品描述</p>
								<p style="font-size: 16px;">佛系产品因缘而得</p>
								<p></p>
								<p class="sell">详情介绍</p>
								<div class="div1" style="height: 700px;"><img src="__PUBLIC__/wapimages/details/details01.png"></div>
								<div class="div1" style="height: 700px;"><img src="__PUBLIC__/wapimages/details/details02.png"></div>
								<div class="div1" style="height: 700px;"><img src="__PUBLIC__/wapimages/details/details03.png"></div>
								<div class="div1" style="height: 700px;"><img src="__PUBLIC__/wapimages/details/details04.png"></div>
							</div>
						<else />
						<div class="panel" id="panel01">
							<p class="sell">商品描述</p>
							<p style="font-size: 16px;">万佛堂是供奉万家生佛的地方</p>
							<p></p>
							<p class="sell">整体款式</p>
							<div class="div1"></div>
							<div class="div1" style="width:640px;height: 642px;"><img src="__PUBLIC__/images/details/image/01.jpg"></div>
							<img src="__PUBLIC__/images/details/image/02.jpg">
							<img src="__PUBLIC__/images/details/image/03.jpg">
							<img src="__PUBLIC__/images/details/image/04.jpg">
							<img src="__PUBLIC__/images/details/image/05.jpg">
							<img src="__PUBLIC__/images/details/image/06.jpg">
							<img src="__PUBLIC__/images/details/image/07.jpg">
						
						</div>
					</if>
				</div>
				<div class="clear "></div>
			</div>
			<div class="clear "></div>
		</div>
		<div class="clear "></div>
		<!-----商品详情评价部结束分------->
		<!----bottom_页脚部分----->
		 <div class="c">
		  <include file="Public/footer" />
	     </div>
        <div class="clear "></div>
		<div class="suspend">
			<dl>
				<dt class="IE6PNG"></dt>
				<dd class="suspendQQ"><a href="http://wpa.qq.com/msgrd?v=3&uin=1581893936&site=qq&menu=yes" target="_blank"></a></dd>
				<dd class="suspendTel"><a href="http://wpa.qq.com/msgrd?v=3&uin=1581893936&site=qq&menu=yes" target="_blank"></a></dd>
			</dl>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){

				$(".suspend").mouseover(function() {
					$(this).stop();
					$(this).animate({width: 160}, 400);
				})

				$(".suspend").mouseout(function() {
					$(this).stop();
					$(this).animate({width: 40}, 400);
				});

			});
		</script>
	</body>
	<script type="text/javascript">
		var ids = [];

		function cart() {
			var root = '__MODULE__/Product/ajax_cart';
			var id = $('.ids').attr('id');

			$.post(root, {
				id: id
			}, function(data) {
				if(data == 1) {
					alert('您还没有登录，请登录后再购买');
					var nowurl = '__SELF__';
					window.location.href = "__MODULE__/User/login?url=" + nowurl;
					//                    $(window).attr('location','{:U('User/login',array('a'=>nowurl))}');
				} else if(data == 2) {
					alert('该商品已经存在您的购物车了，请勿重新添加');
					location.reload();
				} else if(data == 3) {
					alert('添加成功，请去您的购物车查看');
				} else if(data == 4) {
					alert('加入失败，请再次添加');
				}
			})
		}

		function order() {
			var root = '__MODULE__/Order/ajax_order';
			var id = $('.ids').attr('id');
			$.post(root, {
				id: id
			}, function(data) {
				if(data == 111) {
					window.location.href = "__MODULE__/Order/index?id=" + id;
				} else if(data == 1) {
					alert('请登录');
					var nowurl = '__SELF__';
					window.location.href = "__MODULE__/User/login?url=" + nowurl;
					//					  $(window).attr('location','{:U('User/login')}');
				} else if(data == 222) {
					alert('该商品已经售罄');
				}
			})		
		}
	     
	     $('.ex0112').click(function(){
            var ids=$(this).attr('id');
            window.location.href = "__MODULE__/Product/product?id="+ids;
        })
	</script>

</html>