<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>镇海文化</title>
		<link rel="stylesheet" href="__PUBLIC__/zhcss/inform.css" />
	</head>
	<body>
		<div class="v">
		<div class="v0">
			<!--头部开始-->
			<div class="u1 clear">
				<div class="u6">

				</div>
			<ul>
				<li><a href="{:U('Home/Index/index')}">中国帝宫</a></li>
				<li><a href="{:U('index')}">镇海禅寺</a></li>
				<li><a href="{:U('culture')}" class="current" style="color: #fff;">镇海文化</a></li>
				<li><a href="{:U('Home/Index/zhs')}">认捐祈福</a></li>
				<li><a href="{:U('inform')}">寺院通告</a></li>			
				<li><a href="{:U('baokam')}">镇海宝鉴</a></li>
				<li><a href="{:U('down')}">下载专区</a></li>
				<li><a href="{:U('study')}">学习园地</a></li>

			</ul>
			</div>
			<!--头部结束-->
		</div>
		</div>
			<!--主题开始-->
			<div class="v7">
			<div class="v6 clear">
			<div class="v5">
			<div class="v1">
			 <table>
			 	<tr>
			 		<td><b>镇海文化</b></td>
			 	</tr>
			 </table>
				<foreach name="culture" item="list">
					<p><a href="{:U('contents',array('id'=>$list['id']))}">卍  {$list.name}</a></a></p>
				</foreach>
		    </div>
		    <div class="v2">
			 <table>
			 	<tr>
			 		<td><b>寺院通告</b></td>
			 	</tr>
			 </table>
				<foreach name="inform" item="list">
					<p><a href="{:U('contents',array('id'=>$list['id']))}">卍  {$list.name}</a></a></p>
				</foreach>
			</div>
			</div>
			<div class="v3">
				<div class="v8">
				 	<p>
				 	<img src="__PUBLIC__/jlimages/wawa.png" />
				 	<b>镇海文化</b><small>当前位置:<a href="{:U('index')}">首页</a>><a>镇海文化</a></small>
				 	<img src="__PUBLIC__/jlimages/moxian.png" />
				 	</p>
				 </div>
				 <div class="v9">
				<table>
				<tr>
					<td>
						<b><a href="#">卍  {$zhiding.name}</a></b>
						<small>[{$zhiding.time}]</small>
						<hr />
					</td>
				</tr>
				<foreach name="culture" item="list">
					<tr>
						<td>
							<b><a href="{:U('contents',array('id'=>$list['id']))}">卍  {$list.name}</a></b>
							<small>[{$list.time}]</small>
							<hr />
						</td>
					</tr>
				</foreach>


			    <tr>
			    	<td>

				</tr>
				</table>	
				</div>
			</div>					
		</div>
		</div>
		<!--主题结束-->
		<!--底部开始-->
		<div class="footer">
			<div class="u7">
				<p style="margin-left: 150px;font-size: 16px;color: #dadada;"><strong>友情链接:</strong> <a href="http://www.tzjfoxiao.com/" target="_blank"><b>通则久佛教文化网</b></a> <a href="http://www.chinabuddhism.com.cn/" target="_blank"><b>中国佛教协会</b></a> <a href="http://www.fjnet.com/" target="_blank"><b>佛教在线</b></a> <a href="http://www.liaotuo.org/" target="_blank"><b>弘善佛教</b></a> <a href="http://www.pusa123.com/" target="_blank"><b>菩萨在线</b></a> <a href="http://www.simiao.cn/" target="_blank"><b>中国寺庙网</b></a> <a href="http://www.wuys.com" target="_blank"><b>佛学研究网</b></a></p>
				<p style="margin-left: 223px;font-size: 16px;color: #dadada;"><a href="#"><b>少林寺</b></a> <a href="http://www.fomen123.com/" target="_blank"><b>佛门网</b></a> <a href="http://www.lingyinsi.org/" target="_blank"><b>灵隐寺</b></a></p>
			</div>
			<span><img src="__PUBLIC__/jlimages/address.png"/><b>江苏省常州市新北区镇海路98号 </b> <img src="__PUBLIC__/jlimages/phone.png"/><strong>0519-8324 7330</strong></span>
			<hr color="#333333" size="1"/>
			<span style="color: #999999;">版权所有:<a href="#">上海通则久文化</a> 沪ICP备16045553号-2</span>
		</div>
		<!--底部结束-->
		
	</body>
</html>
