<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>分销商注册</title>
		<link href="__PUBLIC__/static/css/style.css" rel="stylesheet">
		<link href="__PUBLIC__/static/css/bootstrap.min.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <link href="static/css/IE8.css" rel="stylesheet">
        <![endif]-->
	</head>

	<body>

		<!--头部-->
		<header>
			<!--导航-->
			<nav class="nav_top">
				<div class="container">
					<div class="navbar-header">
						<div class="fanhui">
						<a href="javascript:history.go(-1)">
						 <img src="__PUBLIC__/static/images/fanhui.png"/>
						</a>
					  </div>
						<button class="navbar-toggle collapsed mean" data-toggle="collapse" data-target="#mynavbar">                     
		                      <span class="icon-bar"></span>
		                      <span class="icon-bar"></span>
		                      <span class="icon-bar"></span>
		                 </button>
						<a href="{:U('Index/index')}" class="navbar-brand logo"><img src="__PUBLIC__/static/images/logo.png"></a>
					</div>
					<div id="mynavbar" class="collapse navbar-collapse">
						<ul class="nav navbar-nav nav_li navbar-right">
							<li>
								<a href="{:U('Index/index')}">首页</a>
							</li>
							<li>
								<a href="{:U('Index/smgf')}">寺庙供奉</a>
							</li>
							<li>
								<a href="{:U('Index/smgh')}">生命关怀</a>
							</li>
							<li>
								<a href="{:U('Index/fjzh')}">佛教智慧</a>
							</li>
							<li>
								<a href="{:U('Personal/index')}">个人中心</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
        <!--联系-->
		<div class="container contact">
			<div class="row">
				<div class="title1">
			<h2>分销商注册</h2>
			<span>Register</span>
					</div>

				<form action="{:U('doregist')}" method="post" onsubmit="return regist()">
					<div class="huanyanshow_con col-md-7 col-sm-12 col-xs-12">
						<div class="form_3">
							<ul class="clearfix">
								<li><span>手机号<i>：</i></span><input type="text" name="phone" value="" id="phone" placeholder="请输入手机号"/></li>
							</ul>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 xqwzzz">
								<input type="hidden" class="get_user_id" value="{$user_id}">
								<input type="button" value="成为分销商" id="to_reg">
								<input type="hidden" value="" id="dis_user_id">
								<input type="button" value="点击获取分销url" id="to_get_code" style="display: none;"><br><br>
								<div style="width: 100px;height: 30px;"></div>
								<a href="" id="code_get" style="color:red;"></a>
							</div>
						</div>
					</div>
				</form>

		   	</div>
		</div> 		   


	   <!--联系我们-->
		<footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="container-fluid">
				<div class="row" style="height: 300px;">
				<div class="footera-article" style="margin-top: 170px;">
					<div class="footera-sm">
						<ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<li>
									<a href="{:U('Index/index')}">首页</a>
								</li>
								<li>
									<a href="{:U('Index/smgf')}">寺庙供奉</a>
								</li>
								
								<li>
									<a href="{:U('Index/smgh')}">生命关怀</a>
								</li>

								<li>
									<a href="{:U('Index/fjzh')}">佛教智慧</a>
								</li>
								<li>
								    <a href="{:U('Personal/index')}">个人中心</a>
							   </li>
							</ul>
						</div>
						<div class="footera-sg">
							<p class="footera-sgp">公司名称：通则久&nbsp;&nbsp;&nbsp;联系电话：0519-8324-7330&nbsp;&nbsp;&nbsp;地址：江苏省常州市新北区九龙路98号</p>
							<p class="footera_p">@2017-2027 通则久&nbsp;&nbsp;苏ICP证000000号 苏公网备111012066666611号</p>
						</div>
				</div>
			 </div>
		  </div>
		</footer>
		<script src="__PUBLIC__/static/js/jquery-3.1.1.min.js"></script>
		<script src="__PUBLIC__/static/js/main.js"></script>
		<script src="__PUBLIC__/static/js/bootstrap.min.js"></script>
	</body>
<script type="text/javascript">
	function regist(){
		var phone=document.getElementById("phone").value;
		var code=document.getElementById("code").value;
		var pwd=document.getElementById("password").value;
		var relname=document.getElementById("relname").value;
		var matchResult=true;
		if(phone=="" ||!/^1[34578]\d{9}$/.test($("#phone").val())){
			alert("请确认您输入的手机号格式是否正确!");
			matchResult=false;
		}else if(relname == '' ||!/^[\u4E00-\u9FA5]{2,4}$/.test($("#relname").val())){
			alert('请确认您的名字是否合法!');
			matchResult=false;
		}else if(pwd == '' || pwd.length<6 || pwd.length>12){
			alert('请确认您的密码长度是否在6-12位之间!');
			matchResult=false;
		}
		return matchResult;
	}
	$("#to_reg").click(function(){
		var phone= $("#phone").val();
		var user_id = $(".get_user_id").val();
		var url = '__MODULE__/Api/reg_dis_user';
		$.ajax({
			type: "POST",
			url: url,
			dataType:'json',
			data:{
				user_id:user_id,
				phone:phone,
			},
			success: function (response) {
				if(response.code == 300){
					alert(response.msg);
				}else if(response.code == 200){
					alert('注册成功!');
					$("#to_get_code").css('display','block');
					$("#dis_user_id").attr('value',response.result);
				}
			}
		});
	})


	$("#to_get_code").click(function(){
		var url = '__MODULE__/Api/create_code';
		var id = $("#dis_user_id").val();
		$.ajax({
			type: "POST",
			url: url,
			dataType:'json',
			data:{
				id:id,
			},
			success: function (response) {
				if(response.code == 300){
					alert(response.msg);
				}else if(response.code == 200){
					$("#code_get").text(response.result);
					$("#code_get").css('display','block');
				}
			}
		});
	})


</script>
</html>