<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>关于我们</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="__PUBLIC__/wapjs/rem.js"></script> 
    <script src="__PUBLIC__/wapjs/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/wapcss/base.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/wapcss/page.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/wapcss/all.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/wapcss/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/wapcss/loaders.min.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/wapcss/loading.css"/>
<script type="text/javascript">
	$(window).load(function(){
		$(".loading").addClass("loader-chanage")
		$(".loading").fadeOut(300)
	})
</script>
</head>
<!--loading页开始-->
<div class="loading">
	<div class="loader">
        <div class="loader-inner pacman">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
	</div>
</div>
<!--loading页结束-->
	<body>
		<header class="mui-bar mui-bar-nav report-header box-s" id="header">
			<a href="javascript:history.go(-1)"><i class="iconfont icon-fanhui fl"></i></a>
			<p>常州九龙禅寺</p>
	    </header>
	    <div id="main" class="mui-clearfix">
	    	<div class="about clearfloat box-s">
				<span style="font-size: 2em;color: #CE6C31;">简介:</span>
				<p>常州九龙禅寺,位于江苏省常州市新北区孟河镇境内，南朝梁天监年间（公元503～519年），梁武帝萧衍遵照魏晋南北朝的习俗崇信佛法，在“天人合一”理念指导下，命国师志公在此始建九龙寺，作已故皇后郗氏的宗庙，同时在庙内设“祭祖堂”，供奉萧氏祖先，僻“慈母堂”，供奉梁武帝母亲,后又在此出家为僧。</p>
				<p>清咸丰十年（1860），九龙寺毁于战火。光绪初年，金陵毗卢寺僧景宏来此，命徒常护经营二十余年，化银五万两，建成天王、毗卢、大雄三大殿及厅堂寮舍共49楹，名旖檀禅寺，别建九龙禅寺（5间三进两侧厢共17间）于山岗，为智宝寺下院，以绍隆萧梁功德。</p>
				<p>民国八年（1919）曾开坛传戒，受戒者达数千人，后日渐衰落。1950年住持果如筹组武进县佛教协会，果如任会长，寺院为县佛协驻地。1952年11月28日至12月24日举行祈祷世界和平盛大法会。1958年部分殿宇遭毁，至1978年仅存大雄宝殿等15间，佛像被毁，殿宇改作他用。</p>
				<p>1993年6月武进政府批准九龙寺恢复为佛教活动场所。先后修复了大雄宝殿，新建了天王殿、玉佛殿、观音殿(大悲阁)、地藏殿、九龙殿、钟鼓楼、山门、念佛堂、客堂、斋堂、寮房、东西厢房等殿堂楼宇。</p>
				<p>近年来，寺庙住持廓朗大师发宏愿重建重塑寺院昔日辉煌，得到广大信众善者普遍响应。为弘扬萧衍对中国佛教文化的贡献，庙内建梁皇宝殿，位于九龙禅寺中轴线上九龙宝殿后，其内塑造箫衍皇帝菩萨像，以彰显萧衍的业绩，让萧衍倡导宗教和谐文化的精神永远地留在他的祖籍地。</p>
				<p>同时这里也成了海内外的萧氏宗亲寻根的地方，2020年全球萧氏宗亲省亲大会也将在这里召开，齐梁文化及宗祠文化届时将再次大放异彩，齐梁文化的研究、传承和发扬也会迈上一个新的台阶。</p>
				<p>九龙禅寺在每年春季举行梁皇法会，以纪念寺院创始人梁武帝萧衍及他在佛教上的功德。每年清明举行庙会，前后3天里，商品琳琅满目，无锡、宜兴等周边市县游客、信众纷至沓来，万人赶集，一片热闹。在孟河有这么一句话，“过年10天不如清明一日”用来形容九龙寺在这一天的热闹场景。</p>
				<span style="font-size: 2em;color: #CE6C31;">新建后的九龙禅寺:</span>
				<p>九龙禅寺在原有基础上，规划新建梁皇宝殿、三圣殿两大气势恢宏的建筑。</p>
				<p>三圣殿-万佛堂</p>
				<p>万佛堂是供奉“万家生佛”的地方，在此拥有佛龛的人，生前可得到佛的保佑和眷顾，祛病消灾，添福增寿，“百年”之后则可以得到佛的护佑和超度，泽及后人，福佑子孙。为自己的父母亲人求得一方佛龛更是一种大孝的表现。</p>
				<p>梁皇宝殿</p>
				<p>梁皇宝殿是三层建筑，萧氏宗祠就设在梁皇宝殿内，殿内供奉箫衍皇帝菩萨像，建成后也将成为孟河的地标性建筑，亦是九龙禅寺的灵魂，力争要把梁皇宝殿打造成为气势宏伟的中国佛教徒朝圣之地。</p>
				<p>梁皇宝殿是三层建筑，萧氏宗祠就设在梁皇宝殿内，建成后也将成为孟河的地标性建筑，亦是九龙禅寺的灵魂。梁武帝萧衍，作为一个中国的释迦摩尼般的人物，力争要把他的道场打造成为气势宏伟的中国佛教徒朝圣之地。</p>
				<p>三圣殿</p>
				<p>三圣殿是专门供奉阿弥陀佛、观世音菩萨和大势至菩萨，更将成为家族宗祠这类显示家族文化的场所，体现后人胜忠追远，发挥铭记亲恩的美德，延续饮水思源的传统。</p>
				<p>万佛堂-皇族宗祠</p>
				<p>皇族宗祠是匠造的专属家族祠堂，每间都独具匠心。拥有皇族宗祠的家族，是显贵家族的象征，拥有福佑子孙的皇族佛慧，为子孙积福报，护佑家族，为有缘人士倾心打造可以世代传席的家族祠堂，在千年龙脉封疆贵胄之地，共享千年皇族的荣耀与尊崇，永尽当世之孝。</p>
				<p>扩建后的九龙禅寺将是一座集禅修、礼佛、 旅游、 养老、 佛像位供奉为一体的寺庙综合体，以开放包容，众生平等，福祭昌生的佛怀 ，面向世间。</p>
				<img src="__PUBLIC__/images/img4.png" alt="">
	    	</div>
	    </div>
	</body>
	<script type="text/javascript" src="__PUBLIC__/wapjs/jquery-1.8.3.min.js" ></script>
	<script src="__PUBLIC__/wapjs/fastclick.js"></script>
	<script src="__PUBLIC__/wapjs/mui.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/wapjs/hmt.js" ></script>
</html>
