body, div, ul, ol, dl, dt, dd, li, dl
{margin:0;padding:0;font-family:'Microsoft Yahei','simsun','arial','tahoma';} 
 
ol, ul ,li{list-style: none;} 
img {border: 0; vertical-align:middle;} 
body{color:#000000;background:#FFF;} 
.clear{clear:both;width:100%; overflow:hidden;margin-top:-1px;} 
a{color:#666;text-decoration:none; }
.v{
	background: url(../jlimages/back.jpg);
}
.u6{
	position: absolute;
	float: left; 
	top: 30px;
	left: 20px;
}
.v0{
	width: 100%;
	height: 400px;
	margin: 0 auto;
	background: url(../jlimages/banner1.jpg) no-repeat center 0;

}
.u1{
	margin: 0 auto;
	position: relative;
    width: 1200px;
}
.u1 ul{
    height: 50px;
	margin-left: 333px;
	margin-top: 30px;
	text-align: center;
	
}
.u1 ul li{	
	width: 106px;
	height: 55px;
	float: left; 
	font-size: 16px;
	line-height: 55px;
}
.u1 ul li a{
	display: block;
	width: 106px;
	height: 55px;
	letter-spacing: 0.1em;
	font-weight: bold;	
}
.u1 ul li a:hover, ul li .current{background: url(../jlimages/bg.png) no-repeat;color: #fff;}
.v1{
	margin-top: 30px;
	margin-left: 40px;
}

.v1 td{
	width: 114px;
	height: 50px;
	font-size: 18px;
	color: white;
	letter-spacing: 0.1em;
	text-indent: 0.5em;
	background: url(../jlimages/bg.png) no-repeat;
}
.v1 p{
	line-height: 15px;
	font-size: 14px;
	color: #666666;
}
.v2{
	margin-left: 40px;
}

.v2 td{
	width: 114px;
	height: 50px;
	font-size: 18px;
	color: white;
	letter-spacing: 0.1em;
	text-indent: 0.5em;
	background: url(../jlimages/bg.png) no-repeat;
}
.v2 p{
	line-height: 15px;
	font-size: 14px;
	color: #666666;
}
.v8 p b{
	color: #333;
	font-size: 18px;
	letter-spacing: 0.2em;
}
.v8 p span{
	float: right;
}
.v8 p span a{
	color: #333;
}
.v9 img{
	max-width: 700px;
}
.v9 td small{
	float: right;
	color: #666;
}
.v9 hr{
	width: 790px;
	border:1px #c7c6bd dotted ;
}
.v10{
	margin-left: 400px;
}
.v10 div{
	width: 220px;
	float: left;
	margin-left: 30px;
}
.v10 img{
	width: 210px;
}
.v10 p{
	color: #666666;
}
.v8 small{
	color: #666666;
	float: right;
	font-size: 16px;
}
.v10 small{
	float: right;
	margin-right: 20px;
	font-size: 16px;
	cursor: pointer;
}
.v11{
	margin-left: 400px;
}
.v11 div{
	/*width: 230px;*/
	/*margin-left: 30px;*/	
}
.v11 img{
	height: 100%;
}
.v3{
	margin-top: 48px;
}
.v3 table b{
	font-size: 14px;
	margin-left: 20px;
	color: #666666;
}
.v3 table p{
	font-size: 14px;
	margin-left: 20px;
	color: #666666;
}
.v4{
	padding-top: 300px;
	padding-bottom: 20px;
	margin-left: 220px;
}
.v4 button{
	width: 70px;
	height: 40px;
	text-align: center;
	border:1px lightblue solid;
	background-color: white;
	margin-right: 10px;
}
.v5{
	width: 400px;
	height: 500px;
	float: left;
    margin-top: 50px;
    background: url(../jlimages/lback.png) no-repeat;
}
.v6{
	width: 1200px; 
	margin: 0 auto;
}
.v7{
	background: url(../jlimages/back.jpg);
}
.footer{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #444444;
}
.footer .u7{
	width: 1200px;
	margin: 0 auto;
}
.footer span{
	display: block;
	font-size: 16px;
	color: #c3c3c3;
	text-align: center;
}
.footer p b{
	color: #dadada;
}
.footer a{
	font-size: 16px;
	color: #999999;
}
.footer p a{
	margin-left: 40px;
}
.footer .u7 b:hover{
	color: lightseagreen;
}
