<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>中国帝宫-佛教智慧</title>
		<link href="__PUBLIC__/static/css/style.css" rel="stylesheet">
		<link href="__PUBLIC__/static/css/bootstrap.min.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <link href="static/css/IE8.css" rel="stylesheet">
        <![endif]-->
	</head>

	<body>

		<!--头部-->
		<header>
			<!--导航-->
			<nav class="nav_top">
				<div class="container">
					<div class="navbar-header">
						<div class="fanhui"><a href="javascript:history.go(-1)"><img src="__PUBLIC__/static/images/fanhui.png"/></a></div>
						<button class="navbar-toggle collapsed mean" data-toggle="collapse" data-target="#mynavbar">                     
		                      <span class="icon-bar"></span>
		                      <span class="icon-bar"></span>
		                      <span class="icon-bar"></span>
		                 </button>
						<a href="{:U('Index/index')}" class="navbar-brand logo"><img src="__PUBLIC__/static/images/logo.png"></a>
					</div>
					<div id="mynavbar" class="collapse navbar-collapse">
						<ul class="nav navbar-nav nav_li navbar-right">
							<li>
								<a href="{:U('Index/index')}">首页</a>
							</li>
							<li>
								<a href="{:U('Index/smgf')}">寺庙供奉</a>
							</li>
							<li>
								<a href="{:U('Index/smgh')}">生命关怀</a>
							</li>
							<li>
								<a href="{:U('Index/fjzh')}">佛教智慧</a>
							</li>
							<li>
								<a href="{:U('Personal/index')}">个人中心</a>
							</li>

						</ul>
					</div>
				</div>
			</nav>
		</header>
		<!--幻灯片-->
		<section class="banner">
			<img src="__PUBLIC__/static/images/news.jpg">
		</section>
		<!--佛教智慧 -->
		<section class="news1">
			<div class="container">
				<div class="row">
					<div class="page clearfix">
						<div class="title1">
							<h2>佛教智慧</h2>
							<span>Buddhist Wisdom</span>
						</div>
					</div>
					<div class="news_top">
                        <div class="news_div col-md-12 col-sm-12 col-xs-12">							
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 cc" onclick="isHidden('div3')">
								  <img  src="__PUBLIC__/static/images/ga4.jpg" />
								  <h3>旅游养老:世界上第一条佛孝文化之路</h3>
								  孝道，是维持伦理的主要纲纪。孝顺，是子对亲之尽诚...
								  <span >查看更多</span>
							     </div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" id="div3" style="display:none">																 
								 <p>孝道，是维持伦理的主要纲纪。孝顺，是子对亲之尽诚、顺命、恭敬供养。中国传统的孝道，就是对父母尽诚、顺命、恭敬、不违于礼供养。佛法也重视孝道，世人不解佛教，总以为僧人出家之后与家人断绝往来，六亲不认，过与世隔绝的生活。其实不然，佛教乃至善之教，怎会断绝人理天伦？</p>
			                     <p> 在佛教中，孝文化亦是重要的一部分，孝心即是菩提心。父母亲对子女，从十月怀胎，到经历种种痛苦及危险，才能将子女产出，故有生育之恩；从强褓中的尽心呵护，到孩提时的种种照顾，及至长成，有甚深的养育之恩；年纪稍长，教其种种待人接物、应对进退甚至种种技术，使其能独立，故有教育深恩。若无父母，则无今日子女的一切成就，父母深恩，等同天地。《大乘本生心地观经》云：“应勤加修习孝养父母，与供佛之福等无差别。”</p>
			                     <p>佛教认为尽孝可分为三种层次：</p>
			                     <p>一般的甘旨奉养父母，使父母免于饥寒，只是小孝；</p>
			                     <p>功成名就光宗耀祖，使父母光彩愉悦，是为中孝；</p>
			                     <p>引导父母趋向正信，远离烦恼恶道、了生脱死，使宗亲得度，脱离六道轮回之苦，才是上上大孝。</p>
			                     <p>佛教认为克尽孝道，应该注意下面三点：</p>
			                     <p>1.孝必须是长期的，而不是一时的。</p>
			                     <p>孝顺父母应该长期不断，源源不绝的奉养无缺，而不是凭一时情绪的喜恶，偶而给予饮食供养。譬如有人说几年前我曾经买过两罐蜂蜜孝养父母，不是也尽到孝道了吗？几年前的几罐蜂蜜供养，如何报答父母的无上恩泽？父母以毕生岁月为我们献出一切，最起码我们也应该同等付出回报，不能终身膝下承欢，也应该长期侍奉汤药。</p>
			                     <p>2.孝必是实质的，而不是表面的。</p>
			                     <p>孝顺父母要在实际上解决父母的需要，使衣食住行没有匮乏，生老病有所倚靠，百年丧葬没有后虑。给予父母心理上的慰藉，精神上的和乐，而不是沽名钓誉，表面功夫，做给世人观看的样版故事。</p>
			                     <p>3.孝顺必须能全面的，而不是局部的。</p>
			                     <p>“老吾老以及人之老，幼吾幼以及人之幼”，孝顺应该从自己的亲人做起，渐而扩充至社会大众，乃至一切无量无尽的众生。不仅要孝顺自己的父母，更要泽被广大的众生父母，全心全力解决一切有情的烦恼，才是佛教理想中的至孝。</p>
			                     <p>这三条，是世间的孝道，使父母于现生中得到安稳快乐。</p>
			                     <p>但这种快乐是有终止的，一旦父母离世，又不免受生死轮回之业力所牵引，投胎转世，一世又一世无止尽的相续生死，周旋不出六道轮回。所以说世间的孝顺是不够的、不圆满的，而<big>劝父母修行佛法，才能让父母从无止尽的六道轮回中、漫无边际的苦海中超脱，离苦得乐，才是出世的孝道，永世至孝</big>。如《地藏经》中，地藏菩萨过去生中为婆罗门女时，为救拔母亲离地狱苦，广为母亲布施修福，以此功德令母亲超生善道、悟知宿命、遍断众恶、广修诸善，而能真正远离恶道之苦。释迦牟尼佛为报母恩，并非拿种种美味、衣食供养摩耶夫人，而是至忉利天为母说法，劝母勤求涅盘，说法令其离开三界的系缚，得终极之乐。</p>
							</div>
						</div>
						<div class="news_div col-md-12 col-sm-12 col-xs-12">														
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 cc" onclick="isHidden('div')">
								<img  src="__PUBLIC__/static/images/ga1.jpg" />
								<h3>一、什么是佛？</h3>
								佛，是佛陀的简称，梵文的意译。意思为觉者...
								<span >查看更多</span>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" id="div" style="display:none">								
								<p>佛，是佛陀的简称，梵文的意译。意思为觉者，是佛教修行的最高果位，佛的特点是觉悟</p>
								<p>觉有三个层次：自觉、觉他（使众生觉悟）、觉行圆满。</p>
								<p>据称，罗汉能达到第一个层次，菩萨可以达到第二个层次，只有佛才能觉行圆满。第一个是自觉，自己觉悟。第二个是觉他，自己觉悟之后一定要帮助别人觉悟。主动帮助别人觉悟，这是大乘；别人来请教你，你教导他，帮他觉悟，这是小乘。大小乘差别就在此地。小乘是你来找我，我才教你；你不找我，我不教你。《无量寿经》中讲，大乘菩萨做众生不请之友，众生不找你，主动去找别人，这是大乘，是觉他。第三种叫觉行圆满，这个很难。自觉，阿罗汉、小乘人自觉，觉他是菩萨。成佛前，应先作菩萨，即一面修持佛果自度，一面 教化众生，度众生到极乐彼岸。当然你自觉之后，你才能觉他，自己不觉而能觉他，没这个道理。如果一个人不发心觉他，你自己的觉悟是永远不会圆满的，所以，觉他是菩萨，觉行圆满才是佛。</p>
								<p>所以，禅修目的是成佛。佛不是神，而是人。佛教是人本的，人道主义的，这与中华文明的本质是一致的。佛教的目的也不是把人变成仙，而是改变人的精神状态。佛学的最终目标令众生离苦得乐，与及鼓励佛弟子发自内心帮助众生，令皆能离苦得乐。</p>
							</div>
						</div>
						
						<div class="news_div col-md-12 col-sm-12 col-xs-12">							
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 cc" onclick="isHidden('div1')">
								<img  src="__PUBLIC__/static/images/ga2.jpg" />
								 <h3>二、佛度有缘人，圆满自成佛。</h3>
								 佛度有缘人，何为有缘? 佛法是大慈悲和大智慧的体现...
								 <span >查看更多</span>
							    </div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" id="div1" style="display:none">								
								<p>佛度有缘人，何为有缘? 佛法是大慈悲和大智慧的体现，一种博大精深的文化。你肯相信，你能理解，能信是你善根深厚，能够理解是你觉行深厚，能够依教奉行是你福德深厚。</p>
								<p>佛家认为，在生命离开这个世界后，生命却并不终结。在肉体灭亡后，生命意识会先进入一个叫作「中阴」的阶段，然后便再次轮回投生，得到新的肉身，延续生存。佛家讲的是“六道轮回”，从下往上，又可分为地狱、饿鬼、畜生、人、阿修罗、天人六种，称为“六道”。各道众生在吉凶祸福、智慧贤愚上，各不相同。众生由于恩爱执著、因果业报的影响，在三界六道流转生死，受诸苦恼不能解脱，犹如车轮旋转，循环不已。《太上感应篇》里讲：“祸福无门，惟人自召。善恶之报，如影随形。”尽虚空遍法界一切依正庄严都不外这个道理。一个人一生是因缘果报，一个世界、无量世界莫不如是。</p>
								<p>要跳出轮回之苦、解脱生死之痛，那就要根据佛法的教导进行修行。</p>
								<p>自己有过失而不知，就是迷；</p>
								<p>明白了过失不足，就是开悟；</p>
								<p>将自身过失改正，才叫修行。</p>
								<p>佛陀成佛之前许下48大愿，说：十方之中积德行善的人，在生时或死前，能够破迷开悟，诚心向佛，积善缘，种善因，修行至功德圆满，就能够得到阿弥陀佛的接引，脱离苦海，早登极乐。</p>
								<p>积善积德，福报就增加，寿命就延长;造恶作孽，寿命就减损，福报也打折。所以我们每天起心动念，对我们的寿夭祸福天天都有加减乘除。《了凡四训》里面一开端我们所见到的，孔先生替袁了凡先生算命，算得那么准确。就是他虽然天天也在造恶，不大，也修一点小善，所以加减乘除的幅度不大，就算得很准确。如果是大善、大恶，这个命运必定有改变。大善，了凡先生以后遇到云谷禅师教导他，他明白了，断恶修善，所以他命运改了，福报增加，不是命中定的那个数;寿命延长，孔先生给他算的寿命五十三岁，他活到七十多岁，寿命延长，这是积善的效果。</p>
								<p>现实的社会，芸芸众生就是一个现实的果报现象，果报的事实。摆在我们面前我们看不出来，看不出来这叫愚痴，迷惑。你能够看得出来，就是开慧，你觉性就高，知道应该怎么存心，怎样做人，断一切恶，修一切善，才真正对佛菩萨、对古圣先贤的教诲五体投地，种种钦佩，才知不能不学。</p>
							</div>
						</div>
						<div class="news_div col-md-12 col-sm-12 col-xs-12">							
							 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 cc" onclick="isHidden('div2')">
								<img  src="__PUBLIC__/static/images/ga3.jpg" />
								<h3>三、佛法中的孝道</h3>
								这个时代，生活水准越来越高，人们的幸福感却越来越低...
								<span >查看更多</span>
							    </div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" id="div2" style="display:none">								   
								<p>这个时代，生活水准越来越高，人们的幸福感却越来越低，信仰的缺失导致心灵的迷惘。礼佛，就是对先贤智慧和人生哲学的参悟。</p>
								<p>自己有过失而不知，是执迷；</p>
								<p>明白了过失不足，是开悟；</p>
								<p>将自身的过失改正，是修行。</p>
								<p>佛法既是活法世事无对错，只分利弊，唯有信仰给人一半的正确，信则有，不信则无。</p>
							</div>
						</div>
						
						<div class="news_div col-md-12 col-sm-12 col-xs-12">							
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 cc" onclick="isHidden('div4')">
								  <img  src="__PUBLIC__/static/images/ga5.jpg" />
								  <h3>四、寺庙供奉的历史渊源</h3>
								  寺院安置逝者灵骨的传统深植于中国传统佛教文化...
								  <span >查看更多</span>
							     </div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" id="div4" style="display:none">														 
								 <p>寺院安置逝者灵骨的传统深植于中国传统佛教文化，它始于南北朝时期。瘗窟，是古代用来埋葬僧尼和世俗信徒骨灰及尸骨的洞窟。麦积山石窟的第43窟就是西魏皇后乙弗氏的墓窟，具有佛窟和墓窟双重性质。</p>
                                 <p>而佛位供奉，源于古代的牌位供奉。它起源于上古，在中国有数千年的传统。宋代时佛教吸收了这一传统，开始了牌位的供奉。如儒家的文庙，和历朝历代必不可少的太庙，各家族的祠堂等。</p>
                                 <p>佛教认为，当诵经声与晨钟暮鼓交汇之际，佛祖可以为死去的亡魂开境指路，升入西方极乐世界。寺院法师每日早晚诵经，为亡灵超度，回向功德。仰凭佛光普照，三宝加被之功德。诸佛菩萨慈悲为怀，予亡灵加持庇佑，令亡者孽障消除，往生善处。但是在古代，只有帝王将相、寺院高僧、居士大德的灵位，才有资格置于佛寺，接受供奉祭拜。普通的佛教信众，没有寺庙供奉的资格。</p>
                                 <p>上世纪50年代开始，台湾及东南亚地区已普遍流行寺庙殡葬，目前国内大量信众已崇尚终老寺庙，皈依佛门。我国的香港、澳门及大陆很多名人、富豪信奉佛教，捐资建庙，并于去世后，将骨灰都安放在寺院，以求与佛相伴，永沐佛光。</p>
							</div>
						</div>
						<div class="news_div col-md-12 col-sm-12 col-xs-12">							
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 cc" onclick="isHidden('div5')" >
								 <img src="__PUBLIC__/static/images/ga6.jpg" />
								 <h3>五、十二生肖的本命佛</h3>
								 据佛教传承，每个人从先天一生下来就有位菩萨或佛在守护您...
								 <span>查看更多</span>
							     </div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" id="div5" style="display:none">															 
								 <p>据佛教传承，每个人从先天一生下来就有位菩萨或佛在守护您，所生之日与有缘之佛结缘，被称为“本命佛”，是千年以来人们所供奉的守护佛。众生根器不同，也需以不同方式接引。“本命佛”是与十二生肖者磁场最接近、感应力最强的佛或菩萨。只要虚心敬奉本命佛法像，就有助于您逢凶化吉，从而改善运势、增福添寿。</p>
                                 <p>属鼠本命佛：千手观音菩萨</p>
                                 <p>属牛本命佛：虚空藏菩萨</p>
                                 <p>属虎本命佛：虚空藏菩萨</p>
                                 <p>属兔本命佛：文殊菩萨</p>
                                 <p>属龙本命佛：普贤菩萨</p>
                                 <p>属蛇本命佛：普贤菩萨</p>
                                 <p>属马本命佛：大势至菩萨</p>
                                 <p>属羊本命佛：大日如来</p>
                                 <p>属猴本命佛：大日如来</p>
                                 <p>属鸡本命佛：不动尊菩萨</p>
                                 <p>属狗本命佛：阿弥陀佛</p>
                                 <p>属猪本命佛：阿弥陀佛</p>								
							</div>
						</div>
						<div class="news_div col-md-12 col-sm-12 col-xs-12">							
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 cc" onclick="isHidden('div6')">
							  	  <img  src="__PUBLIC__/static/images/ga7.jpg" />
							  	  <h3>六、你是学佛还是求佛？</h3>
							  	绝大多数人，名义上在学佛，而潜意识里却只想求佛...
		                         <span>查看更多</span>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" id="div6" style="display:none">																 
								 <p>绝大多数人，名义上在学佛，而潜意识里却只想求佛——求佛菩萨保佑我逢凶化吉，远离灾厄，多福多禄，健康长寿，尽可能少一些付出而多一些回报。总之一句话，保佑我能事事如意，处处称心。</p>
		                         <p>求佛人人都愿意，但学佛并不是人人都愿意的。</p>
		                         <p>求佛是为了自己得好处，而学佛是为了别人得好处。</p>
		                         <p>求佛是为了索取，而学佛则要时时准备付出。</p>
		                         <p>求佛是为了得便宜、不吃亏，而学佛却意味着要多吃亏、多受气。</p>
		                         <p>求佛是为了保护自我，而学佛却是为了打破自我。</p>
		                         <p>求佛是为了远离恶缘，逃避恶果的惩罚，而学佛则时刻准备着承担恶缘和恶果，最终转恶缘恶果为菩提妙用。</p>
		                         <p>求佛与学佛，虽然有时都披着修行的外衣，但两者的差别犹如天壤。</p>
		                         <p>求佛的人以凡夫心为心，而学佛的人则以菩提心为心。</p>
		                         <p>刚开始修行的时候，我们的力量太孱弱了，需要三宝的护念。但是，我们求佛的目的，不是为了眼前一己之私利，而是为了坚固信心，更好地学佛，更快地成佛。</p>
		                         <p>学佛和成佛才是我们目前求佛的最终指向，如果忘记了这个终极指向，求佛有时候反而会浇灌或强化我们的私欲。</p>
		                         <p>修行人不要抱怨佛法不灵。为什么不灵?是因为我们的心不纯。</p>
		                         <p>我们应该好好检讨自己的日常心态，可以反问一下：</p>
		                         <p>这一天，我求佛的时候多还是学佛的时候多?</p>
		                         <p>求佛的念头多还是学佛的念头多?</p>
		                         <p>我念经的时候，心里是想着佛菩萨保佑我如何如何，还是想着如何去掉内心的贪嗔痴?</p>
		                         <p>通过这些观察，就可以检验出自己到底是求佛的，还是学佛的。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--联系我们-->
		<footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="container-fluid">
				<div class="row">
					<div class="footera-article">
						<div class="footera-sa"><span class="top">＜</span></div>
						<div class="footera-sm">
							<ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<li>
									<a href="{:U('Index/index')}">首页</a>
								</li>
								<li>
									<a href="{:U('Index/smgf')}">寺庙供奉</a>
								</li>
								
								<li>
									<a href="{:U('Index/smgh')}">生命关怀</a>
								</li>

								<li>
									<a href="{:U('Index/fjzh')}">佛教智慧</a>
								</li>
								<li>
								    <a href="{:U('Personal/index')}">个人中心</a>
							    </li>

							</ul>
						</div>
						<div class="footera-sg">
							<p class="footera-sgp">公司名称：通则久&nbsp;&nbsp;&nbsp;联系电话：400-096-8879&nbsp;&nbsp;&nbsp;地址：江苏省常州市新北区九龙路98号</p>
							<p class="footera_p">@2017-2027 通则久&nbsp;&nbsp;苏ICP证000000号 苏公网备111012066666611号</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script src="__PUBLIC__/static/js/jquery-3.1.1.min.js"></script>
		<script src="__PUBLIC__/static/js/main.js"></script>
		<script src="__PUBLIC__/static/js/bootstrap.min.js"></script>
	</body>
	<script>
    function isHidden(oDiv){
      var vDiv = document.getElementById(oDiv);
      vDiv.style.display = (vDiv.style.display == 'none')?'block':'none';
    }
  </script>

</html>